p {
font-family: "Droid Serif", serif;
}

h1 {
font-family: "Raleway", sans-serif;
color: #0D2C40;
font-weight: 400;
font-size: 45px;
}

body {
text-align: center;
}

a {
  color: #F15B31;
  font-family: Raleway;
  font-weight: 600;
  font-size: 18px
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px
}

header{
  background-color: #F15B31;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
